# External LoadBalancer for OSMO control plane access from HIL clusters
# This service provides a public IP restricted to allowed CIDR blocks.
#
# Deployed by: 03-deploy-osmo-control-plane.sh --enable-external-hil
# Used by: External HIL clusters connecting to OSMO control plane
#
# SECURITY: Traffic is restricted via loadBalancerSourceRanges (appended at deploy time).
# Azure automatically creates NSG rules to enforce this at the network layer.
#
# WARNING: Do not deploy without loadBalancerSourceRanges - this would expose OSMO publicly!
apiVersion: v1
kind: Service
metadata:
  name: azureml-ingress-nginx-external-lb
  namespace: azureml
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  selector:
    app.kubernetes.io/name: azureml-ingress-nginx
    app.kubernetes.io/instance: azureml-ingress-nginx
    app.kubernetes.io/component: controller
  ports:
  - name: http
    port: 80
    targetPort: http
    protocol: TCP
  - name: https
    port: 443
    targetPort: https
    protocol: TCP
  # loadBalancerSourceRanges is appended by deploy script. Example:
  # loadBalancerSourceRanges:
  #   - "10.0.0.0/8"
  #   - "192.168.1.0/24"
