apiVersion: amlarc.azureml.com/v1alpha1
kind: InstanceType
metadata:
  name: gpuinstancetype
spec:
  nodeSelector:
    node.kubernetes.io/instance-type: Standard_NV36ads_A10_v5
  resources:
    requests:
      cpu: "1"
      memory: "1Gi"
    limits:
      cpu: "8"
      memory: "32Gi"
      nvidia.com/gpu: 1
