apiVersion: v1
kind: Service
metadata:
  name: azureml-ingress-nginx-internal-lb
  namespace: azureml
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-internal: "true"
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: azureml-ingress-nginx
    app.kubernetes.io/instance: azureml-ingress-nginx
    app.kubernetes.io/component: controller
  ports:
  - name: http
    port: 80
    targetPort: http
    protocol: TCP
  - name: https
    port: 443
    targetPort: https
    protocol: TCP
