name: Markdown Lint

on:
  workflow_call:
    inputs:
      soft-fail:
        description: 'Whether to continue on markdown lint violations'
        required: false
        type: boolean
        default: false

permissions:
  contents: read

defaults:
  run:
    shell: pwsh

jobs:
  markdown-lint:
    name: Markdown Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - name: Setup Node.js and install dependencies
        uses: ./.github/actions/setup-node-deps

      - name: Run markdown lint
        id: markdown-lint
        run: npm run lint:md
        continue-on-error: ${{ inputs.soft-fail }}
