name: Pytest Tests

on:
  workflow_call:

permissions:
  contents: read

jobs:
  pytest:
    name: Pytest
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: '3.11'

      - name: Install package
        run: pip install -e .

      - name: Run pytest
        run: pytest -v
